n8n-workflows/invoice-processor-ai-agent-mcp.json
{
  "name": "Invoice Processor (AI Agent + MCP)",
  "id": "1yo0k14XyiE2cQnz",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice-mcp-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Receive Invoice",
      "type": "n8n-nodes-base.webhook",
      "position": [-144, 288],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an invoice extraction AI. Analyze the provided invoice and extract all relevant information.\n\nInvoice filename: {{ $json.filename }}\nMIME type: {{ $json.mime_type }}\n\n**IMPORTANT: The invoice content is provided below as base64-encoded data. You MUST decode and analyze this actual document content.**\n\nInvoice content (base64): {{ $json.file_base64 }}\n\nUse the available tools to:\n1. Extract header information (invoice number, dates, vendor)\n2. Extract all line items\n3. Extract totals (subtotal, tax, total)\n4. Validate the extracted data\n\nReturn a structured JSON response with all extracted fields and confidence scores.",
        "options": {
          "systemMessage": "You are an expert invoice extraction assistant. You have access to tools for extracting and validating invoice data. Always validate your extractions before returning results. Be thorough and accurate."
        }
      },
      "id": "agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [160, 288],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514"
        },
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "claude",
      "name": "Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [32, 528],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:5678/mcp/invoice-tools/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "id": "mcp-client",
      "name": "Invoice Tools",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [512, 512],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [704, 304],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "tableId": "invoices",
        "fieldsUi": {
          "fieldValues": [
            {"fieldName": "invoice_number", "fieldValue": "={{ $json.output?.invoice_number || $json.invoice_number || null }}"},
            {"fieldName": "vendor_name", "fieldValue": "={{ $json.output?.vendor_name || $json.vendor_name || null }}"},
            {"fieldName": "invoice_date", "fieldValue": "={{ $json.output?.invoice_date || $json.invoice_date || null }}"},
            {"fieldName": "due_date", "fieldValue": "={{ $json.output?.due_date || $json.due_date || null }}"},
            {"fieldName": "total_amount", "fieldValue": "={{ $json.output?.total || $json.total || $json.output?.total_amount || null }}"},
            {"fieldName": "currency", "fieldValue": "={{ $json.output?.currency || $json.currency || 'USD' }}"},
            {"fieldName": "status", "fieldValue": "processed"},
            {"fieldName": "extracted_data", "fieldValue": "={{ JSON.stringify($json.output || $json) }}"},
            {"fieldName": "confidence", "fieldValue": "={{ $json.output?.confidence || $json.confidence || null }}"}
          ]
        }
      },
      "id": "supabase",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 288]
    }
  ],
  "connections": {
    "Receive Invoice": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "Claude": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Invoice Tools": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    },
    "AI Agent": {
      "main": [[{"node": "Save to Supabase", "type": "main", "index": 0}]]
    },
    "Save to Supabase": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_note": "Credentials must be configured after import: Anthropic API for Claude, Supabase API for Save to Supabase"
}
